<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="description" content="Technician portal" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/apple-touch-icon-144-precomposed.png">
    @*<link rel="shortcut icon" href="http://www.advancedretailsolutions.com/wp-content/themes/StandardTheme_25/uploads/Icon.jpg" type="image/vnd.microsoft.icon">*@
    <link rel="stylesheet" href="@Url.Content("~/Content/style.less")" type="text/css" />
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    @RenderSection("styles", required: false)
</head>
    <body class="@ViewBag.BodyCss">
        <div id="loadingDiv"></div>
        <nav class="navbar navbar-default">
            <div class="container">
                @RenderSection("navigation", required: false)
            </div>
        </nav>
        <div class="container content">
            @RenderBody()
            <hr />
            <footer>
                <p>Copyright @DateTime.Now.Year &copy; Craftsmen Alliance FM</p>
            </footer>
        </div>
        @Scripts.Render("~/bundles/scripts")
        @RenderSection("scripts", required: false)
    </body>
</html>